@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
body{
  font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
}

.body{
  background-color: #e0e0e0;
}

::-webkit-scrollbar{
  width:5px !important; 
  height: 2px !important;
}
::-webkit-scrollbar-thumb{background-color: #ff5252;}
::-webkit-scrollbar-track{background: #fff;}

.text-prata{
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.text_primary{
    color: #ff5252;
}

.bg_primary{
    color: #ff5252;
}

.body-primary{
  background-color: #f5f0f0;
}


.homeBannerV2 .swiper-slide-active .info{right:0px !important; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info h1{right:0px !important; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info h2{right:0px !important; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info h3{right:0px !important; opacity: 1;}
.homeBannerV2 .swiper-slide-active .info .btn{right:0px !important; opacity: 1;}


.homeBannerV2 .info h1{transition-duration: 1.2s;}
.homeBannerV2 .info h2{transition-duration: 1.5s;}
.homeBannerV2 .info h3{transition-duration: 1.4s;}
.homeBannerV2 .info  .btn{transition-duration: 1.6s;}

